footer {
  padding: 30px;
  background-color: $dark-gray;

  h4 {
    font-size: 14px;
    font-family: $fontFam;
    padding-bottom: 36px;
    font-weight: 800;
    @include breakpoint(large) {
      padding-bottom: 36px;
      text-align: left;
    }
    @include breakpoint(small) {
      padding-bottom: 10px;
      text-align: center;
    }
  }

  .footer-columns {
    color: $white;

    @include grid-row(12) {

      .footer-section-1 {
        @include breakpoint(large) {
          @include grid-column(2, 15);
        }
        @include breakpoint(small) {
          @include grid-column(6, 15);
        }
      }
      .footer-section-2 {
        @include breakpoint(large) {
          @include grid-column(2, 15);
        }
        @include breakpoint(small) {
          @include grid-column(6, 15);
        }
      }
      .footer-section-3 {
        @include breakpoint(large) {
          @include grid-column(4, 15);
        }
        @include breakpoint(small) {
          @include grid-column(12, 15);
        }
      }
      .footer-section-4 {
        @include breakpoint(large) {
          @include grid-column(4, 15);
        }
        @include breakpoint(small) {
          @include grid-column(12, 15);
        }
      }
    }
  }

  .menu {
    margin: 0px;
    padding: 0px 0px 40px 0px;

    li {
      a {
        font-size: 15px;
        padding: 5px 0;
        color: $white;
        @include breakpoint(large) {
          text-align: left;
        }
        @include breakpoint(small) {
          text-align: center;
        }
      }
    }
  }

  .social-footer {
    @include breakpoint(large) {
      width: auto;
      display: block;
    }
    @include breakpoint(small) {
      width: 175px;
      margin: 0 auto;
      display: block;
    }
    li {
      display: inline-block;
      a {
        font-size: 3rem;
      }
    }
  }
}