.form-item {
  &.inline {
    @include grid-row(10) {
      .form-lable {
        padding-top: 10px;
        @include breakpoint(large) {
          @include grid-column(3.4, 0);
        }
        @include breakpoint(medium only) {
          @include grid-column(3.4, 0);
        }
        @include breakpoint(small) {
          @include grid-column(10, 0);
        }

      }
      .form-input {

        @include breakpoint(large) {
          @include grid-column(6.6, 0);
        }
        @include breakpoint(medium only) {
          @include grid-column(6.6, 0);
        }
        @include breakpoint(small) {
          @include grid-column(10, 0);
        }
      }
    }

  }
  &.block {
    @include grid-row(10) {
      .form-lable {
        padding-top: 10px;
        @include grid-column(10,0);
      }
      .form-input {
        @include grid-column(10,0)
      }
    }

  }
  &.single-checkbox {
    padding-top: 20px;
  }
}


.form-lable {
  font-family: $fontFam;
  font-size: 18px;
  padding-bottom: 20px;
  display: block;
}

.amount-btn {
  border: 2px solid $dark-gray;
  padding: 10px 20px;
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 5px;
  font-size: 24px;
}

.text-divider {
  text-align: center;
  font-size: 18px;
  width: 30px;
  display: inline-block;
}


 input[type=number].form-input-number{
  font-size: 24px;
  border: 2px solid $dark-gray;
  padding: 10px 20px;
  display: inline-block;
  height: 49px;
  width: 166px;
}

select.cs-select  {
  border: 2px solid $dark-gray;
  height: 49px;
}

//checkbox

.button {
  &.large {
    padding: 16px 40px;
  }
}



/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  margin-left: 0px;
  font-family: $fontFam;
  font-size: 18px;
  line-height: 20px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid $dark-gray;
  background: #fff;
  border-radius: 0px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: $dark-gray;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid $dark-gray;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid $dark-gray !important;
}

