*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}


@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

$image-path: '../img/' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

@mixin background-image($name, $size:false){
  background-image: url(#{$image-path}/#{$name}.svg);
  @if($size){
    background-size: $size;
  }
  .no-svg &{
    background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
    }
  }
}


@mixin icon($name) {
  &:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em;
  }

  @extend .fa-#{$name};
}



/*---------------------------------------*/
/* 25 - EMPTY SPACERS */
/*----------------------------------------*/
$spacers: 10;
@for $i from 1 through 15 {
  .spacer-#{ 100 / $spacers* $i - 5} {
    height: ((100 / $spacers) * $i - 5) + px;
    @include breakpoint(small only) {height: ((80 / $spacers) * $i / 2) + px;}
  }
}


$custom-pad: 20;
@for $i from 1 through $custom-pad {
  .cs-pad-#{((100 / $custom-pad) * $i + 5) * 1} {
    padding: ((100 / $custom-pad) * $i + 5) * 1px;
  }
}


$mar-right: 20;
@for $i from 1 through $mar-right {
  .mar-right-#{((100 / $mar-right) * $i + 5) * 1} {
    margin-right: ((100 / $mar-right) * $i + 5) * 1px;
  }
}