nav.top-nav {
  border-top: 10px solid $primary-color;
  padding: 20px 0 30px 0;

  .top-bar {
    @include grid-row;
    .top-bar-left {
      .site-logo {
        @include breakpoint(large) {
          width: 245px;
          margin-bottom: 0;
          float: left;
        }
        @include breakpoint(small only)  {
          float: none;
          width: 100%;
          margin-bottom: 20px;
        }
        a {
          @include background-image('site-logo');
          text-indent: -2999px;
          width: 224px;
          height: 62px;
          float: left;
          display: block;
          margin-right: 16px;
        }
      }
      .burger-menu{
        float: right;
        position: absolute;
        top: 35px;
        right: 15px;
        z-index: 9999;
        button {
          color: black;
          &.burger-button{
            &:before {
              @extend .fa;
              @extend .fa-bars;
              font-size: 21px;
              padding-top: 20px;
              padding-right: 15px;

            }
          }
        }
      }
      #responsive-menu {
        .menu {
          @include breakpoint(large) {
            border-left:1px solid $medium-gray;
            padding-left: 15px;
            width: auto;
            background-color: transparent;
          }
          @include breakpoint(small) {
            border-left:none;
            padding-left: 0;
            width: 100%;
          }

          li {
            a {
              font-family: $fontFam;
              color: $dark-gray;


              font-weight: 100;
              @include breakpoint(large) {
                padding: 25px 20px 26px 20px;
              }
              @include breakpoint(medium) {
                padding: 25px 10px 26px 10px;
              }
              @include breakpoint(small only) {
                padding: 10px;
              }
            }

          }
        }


      }
    }
    .top-bar-right {
      .menu {
        @include breakpoint(large) {
          display: flex;
        }
        @include breakpoint(small only) {
          display: block;
        }
        li {
          @include breakpoint(large) {
            display: list-item;
          }
          @include breakpoint(small only) {
            display: block;
          }

          .top-nav-search {

            .search-header {
              i {
                &:before {
                  @include background-image('icon-search');
                  width: 20px;
                  height: 20px;
                  right: 5px;
                  top:5px;
                  position: absolute;
                }
              }
            }



            height: 40px;
            font-size: 14px;
            border: 1px solid rgba(155,155,155,0.5);
            box-shadow: none;
            @include breakpoint(large) {
              width: 290px;
              margin-bottom: 5px;
            }
            @include breakpoint(small only) {
              width: 100%;
              max-width: 100%;
              display: block;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }





}