h1 {
  font-weight: 800;
  font-family: $fontFam;
}

.hed-secondary{
  color: $secondary-color;
}


.site-logo-white {
  @include background-image('site-logo-white');
  width: 224px;
  height: 62px;
  @include breakpoint(large) {
    margin: 0;
  }
  @include breakpoint(small) {
    margin: 0 auto;
  }
}

.logo-section-text {

  @include breakpoint(large) {
    padding-top: 40px;
    padding-left: 105px;
    text-align: left;
  }
  @include breakpoint(small) {
    padding-top: 20px;
    padding-left: 0px;
    text-align: center;
  }
}


// Button Styles
.button {
  @include breakpoint(large) {
    display: inline-block;

  }
  @include breakpoint(small only) {
    display: block;
    width: 100%;
  }


  padding: 9px 19.5px;
  &.primary {
    background-color: $primary-color;
    border-bottom: 4px solid darken($primary-color, 5%);
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $fontFam;
  }
  &.secondary {
    background-color: $secondary-color;
    border-bottom: 4px solid darken($secondary-color, 5%);
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $fontFam;
  }
  &.dark {
    background-color: $dark-gray;
    border-bottom: 4px solid darken($dark-gray, 5%);
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $fontFam;
  }
}

.social-footer {
  i {
     font-size: 2rem;
   }
  @include breakpoint(large) {
    width: auto;
  }
  @include breakpoint(small) {
    display: block;
    margin: 0 auto;
    width: 185px;
  }
}

// Section Backgrounds Colours
section{
  padding: 40px 40px 50px 40px;
  &.white {
    background-color: $white;
    color: $dark-gray;
  }
  &.light-grey {
    color: $dark-gray;
    background-color: $light-gray;
  }
  .content {
    @include grid-row();
  }

}

.white-bg {
  background-color: $white;
}

.img-animal {
  @include breakpoint(large) {
    height:578px;
  }
  @include breakpoint(medium only) {
    height: 350px;
  }
  @include breakpoint(small) {
    height: 250px;
  }

  display: block;

  &.default-animal {
    background: url("../img/giraffe.jpg");
    background-position: center top;
    background-repeat: no-repeat;
  }

  &.giraffe {
    background: url("../img/giraffe.jpg");
    background-position: center top;
    background-repeat: no-repeat;
  }
  &.rhino{
    background: url("../img/rhino.jpg");
    background-position: center top;
    background-repeat: no-repeat;
  }
  &.tiger{
    background: url("../img/tiger.jpg");
    background-position: center top;
    background-repeat: no-repeat;
  }
}

.donation-container {
  @include breakpoint(large) {
    width: 780px;
  }
  @include breakpoint(medium only) {
    width: 95%;
  }
  @include breakpoint(small) {
    width: 95%;
  }

  margin: 0 auto;
}
.donation-form{
  background-color: $white;
  padding: 65px;

}