<section class="light-grey">
    <h1 class="text-center">DONATE TODAY</h1>
    <h4 class="text-center">Help protecting the planet today, become a Little Zebra ambassador</h4>
    <div class="cs-pad-30"></div>
    <div class="donation-container">
        <div class="row collapse">
            <div class="large-3 large-push-9 columns">
                <div id="animal" class="img-animal default-animal"></div>
            </div>
            <div class="large-9 large-pull-3 columns">
                <div class="donation-form">
                    <h4 class="text-center hed-secondary">MAKE A DONATION</h4>
                    <div class="cs-pad-20"></div>
                    <div class="form-item inline">
                        <div class="form-lable">I want to help:</div>
                        <div class="form-input">
                            <div class="center">
                                <select name="sources" id="animalDD" class="cs-select sources"
                                        placeholder="Select animal">
                                    <option value="giraffe">Giraffe</option>
                                    <option value="rhino">Rhino</option>
                                    <option value="tiger">Tiger</option>
                                </select>
                                <script type="application/javascript">
                                    $(document).ready(function () {
                                        $('.cs-select').change(function() {
                                            $('#animal').removeClass().addClass('img-animal ' + $(this).val());
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="form-item block">
                        <div class="form-lable">I want to donate:</div>
                        <button class="amount-btn" data-donation-amount='3'>£3</button>
                        <button class="amount-btn" data-donation-amount='5'>£5</button>
                        <button class="amount-btn" data-donation-amount='10'>£10</button>
                        <div class="text-divider">or</div>
                        <input class="form-input-number" type="number" placeholder="£">
                    </div>
                    <div class="form-item inline-checkbox">

                        <div class="form-item single-checkbox">
                            <input type="checkbox" id="donate" checked="checked" />
                            <label for="donate">I want to do a monthly donation</label>
                        </div>

                    </div>
                    <div class="cs-pad-30"></div>

                        <div class="text-center">
                            <button class="button secondary large">DONATE NOW</button>
                        </div>

                </div>
            </div>

        </div>
    </div>

</section>
<section class="white">
    <h1 class="text-center">WHAT WE DO</h1>
    <h4 class="text-center">Discover more about the Little Zebra foundation and how you can help us</h4>
    <div class="cs-pad-30"></div>
    <div class="row">
        <div class="large-5 large-push-7 columns">
            <img src="assets/img/leopard.jpg" class="float-center">
        </div>
        <div class="large-7 large-pull-5 columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet, magna sit amet suscipit laoreet,
                ante velit scelerisque massa, ac mattis ex magna et turpis. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos.</p>
            <p>Aliquam efficitur tellus vitae erat laoreet sodales. Donec mollis, augue nec feugiat accumsan, ante dui
                aliquet ante, sit amet vestibulum ligula ex non mi. Nunc quis imperdiet leo, blandit maximus orci.
                Phasellus porttitor eros magna, et viverra massa cursus ut. Cras nec est et urna ullamcorper volutpat et
                tristique augue. Nullam sit amet odio eget tortor rhoncus volutpat nec sed ipsum. Vivamus semper a
                ligula a sodales.</p>
            <p>Morbi mi dui, luctus ac vestibulum in, dapibus id ante. Vivamus eu odio non mi finibus dapibus a a erat.
                Cras commodo pharetra sapien, non ultrices nisl egestas eu.</p>
            <button class="button dark mar-right-15">OUR HISTORY</button>
            <button class="button primary">GET INVOLVED</button>
        </div>


    </div>
</section>