<footer>
    <div class="footer-columns">
        <div class="footer-section-1">
            <h4>WHO WE ARE</h4>
            <ul class="menu vertical">
                <li><a href=""> Our history</a></li>
                <li><a href="">Press centre</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div>
        <div class="footer-section-2">
            <h4>GET INVOLVED</h4>
            <ul class="menu vertical">
                <li><a href=""> Join us</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Shop</a></li>
            </ul>
        </div>
        <div class="footer-section-3">
            <h4>FOLLOW US</h4>
            <ul class="menu simple social-footer">
                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                </li>
                <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                </li>
                <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                </li>
                <li><a href="https://www.youtube.com/?hl=en"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-section-4">
            <div class="site-logo-white"></div>
            <div class="logo-section-text">
                <p>3 Warren Rd,<br>
                    Mary Tavy,<br>
                    Tavistock PL19 9PF,<br>
                    United Kingdom</p>
            </div>
        </div>
    </div>
</footer>