<nav class="top-nav">
    <div class="top-bar">
        <div class="top-bar-left">
            <div class="site-logo">
                <a href="#">Little Zebra</a>
                <div class="burger-menu" data-responsive-toggle="responsive-menu" data-hide-for="medium">
                    <button class="burger-button" type="button" data-toggle></button>
                </div>
                <div class="clearfix"></div>
            </div>

            <div id="responsive-menu">
                <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true" data-close-on-click="true" >
                <li><a href="#">WHAT WE DO</a></li>
                    <li><a href="#">GET INVOLVED</a></li>
                    <li><a href="#">SHOP</a></li>
                    <li><a href="#">NEWS</a></li>
                </ul>
            </div>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><input class="top-nav-search" type="search" placeholder="Search"></li>
                <li>
                    <div class="search-header">
                        <button type="button" class="button secondary">DONATE NOW</button></li>
                        <i class="icon-search"></i>
                    </div>
            </ul>
        </div>
    </div>
</nav>